<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>상품목록</h1>
  <p>페이지 번호: <%= data.now_page_no %> </p>
  <p><%= data.baseList.length %> </p>
  <p><%= data.optionList.length %> </p>
  <ul>
      <% data.optionList.forEach((item, i) => { %>
        <li>
          <h4>금융회사명: 
            <% switch(item.fin_co_no) { 
              case "0010001": %> 우리은행 <% ;break;
              case "0010002": %> 한국스탠다드차타드은행 <% ;break;
              case "0010016": %> 대구은행 <% ;break;
              case "0010017": %> 부산은행 <% ;break;
              case "0010019": %> 광주은행 <% ;break;
              case "0010020": %> 제주은행 <% ;break;
              case "0010022": %> 전주은행 <% ;break;
              case "0010024": %> 경남은행 <% ;break;
              case "0010026": %> 중소기업은행 <% ;break;
              case "0010030": %> 한국산업은행 <% ;break;
              case "0010927": %> 국민은행 <% ;break;
              case "0011625": %> 신한은행 <% ;break;
              case "0013175": %> 농협은행주식회사 <% ;break;
              case "0013909": %> 하나은행 <% ;break;
              case "0014674": %> 주식회사 케이뱅크 <% ;break;
              case "0014674": %> 주식회사 케이뱅크 <% ;break;
              case "0014807": %> 수협은행 <% ;break;
              case "0015130": %> 주식회사 카카오뱅크 <% ;break;
              default: break;
            } %>
          </h4>
          <p>공시제출월: <%= item.dcls_month %></p>
          <p>금융상품명: <%= item.fin_prdt_cd %></p>
          <p>저축유형: <%= item.intr_rate_type_nm %></p>
          <p>저축기간: <%= item.save_trm %>개월</p>
          <p>금리: <%= item.intr_rate %> </p>
        </li>
      <% }) %>
    </li>
  </ul>

  <script>
    //  fin_co_no: 은행명코드
    // "fin_prdt_cd": "WR0001A" // 상품명
  </script>
</body>
</html>